input, select {
    box-sizing: border-box;
    display: block;
    padding: 10px;
    outline: none;
    border: none;
    color: rgb(248, 90, 90);
    width: 80%;
}

input:focus {
    outline: none;
}

body {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    width: 80%;
    margin: auto;
}

fieldset {
    background-color: rgb(252, 185, 185);
    border: solid 1cm rgba(240, 73, 73, 0.363);
}

label , p{
    margin: 20px 30px;
    display: block;
    box-sizing: border-box;
}



#btn {
    margin: 200px auto 0;
    padding: 25px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 12px;
}

.formcadastro {
    width: 100%;
}

.field, .field2 {
    height: 800px;
    width: 40%;
    padding: 0;
    color: rgb(253, 76, 76);
    
}

.field {
    float: left;
    margin-right: 35px ;
}

.field h1 {
    text-align: center;
    color: rgb(253, 90, 90);
    border-bottom: solid 2px rgb(255, 255, 255);
    letter-spacing: 5px;
}

input[type=radio] {
    display: inline;
    width: 10%;
}

.radio {

    display: inline;
}


#btn:hover {

    background-color: rgb(255, 233, 233);
}